.content {
    .contentTitle {
        text-align: center;
        margin-block: 2rem;
        font-size: 20px;
        color: #8e42cc;
        font-weight: 700;
        @media screen and (min-width: 768px) {
           margin-block: 4rem;
           font-size: 24px;

        }
    }

    .content_top {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        column-gap: 0rem;
        justify-content: space-around;


        @media screen and (min-width: 768px) {
            flex-direction: row;
        }

        .contentImg {
            width: 100%;
            @media screen and (min-width: 768px) {
                max-width: 40%;
                object-fit: contain;

            }
        }

        .contentA {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            @media screen and (min-width:768px) {
                row-gap: 2rem;
                font-size: 18px;
            }

            .content_title {
                color: #000;
                font-weight: 800;
                @media screen and (min-width:768px) {
                    font-size: 21px;
                }

            }

            .btn {
                .button {
                    padding: 1rem;
                    border-radius: 5px;
                    background-color: #8e42cc;
                    font-weight: 600;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .content_content {
                max-width: 500px;
            }
        }
    }

    .content_bottom {
        @media screen and (min-width:768px) {
            flex-direction: row-reverse;
            align-items: center;
        }
    }
}